@using Microsoft.AspNetCore.Identity
@model JobSearchService.Models.ApplicantJobView
@inject UserManager<ApplicationProfile> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome,  @Html.DisplayFor(model => Model.ApplicationProfile.FirstName)</h1>

<div class="row">
    <div class="col-md-8">
    </div>

    <div class="col-md-4"  style="margin-top: -75px;">
        <div>

            <div>
                <h2 style="margin-top: 25px">
                    @Html.DisplayFor(model => Model.ApplicationProfile.FirstName) @Html.DisplayFor(model => Model.ApplicationProfile.LastName)
                </h2>
            </div>

             <div>
                <p>
                    <a asp-controller="Applicant" asp-action="Edit">Edit Personal Info</a>
                </p>
            </div>

            @if (Model.ApplicationProfile.LocationId == null)
            {
                            <div>
                                <h5>Location: </h5> <p>Add your location here</p>
                            </div>
            }
            else
            {
                            <div>
                                    <h5>Location: </h5> @Html.DisplayFor(model => Model.ApplicationProfile.Location.Name)
                            </div>
            }

            @if (Model.Applicant.Email == null)
            {
                            <div>
                                <h5>Email: </h5> <p>Add your email here!</p>
                            </div>
            }
            else
            {
                            <div>
                                <h5>Email:</h5> <a href="mailto:@Html.DisplayFor(modelItem => Model.Applicant.Email)" class="contactText"> @Html.DisplayFor(model=> Model.Applicant.Email)</a>
                            </div>
            }

            @if (Model.Applicant.SocialLink == null)
            {
                            <div>
                                <h5>Social Link</h5> <p>Add a social link here!</p>
                            </div>
            }
            else
            {
                            <div>
                                <h5>Social Link</h5> <a href="http://@Html.DisplayFor(model => Model.Applicant.SocialLink)" class="contactText">@Html.DisplayFor(model=> Model.Applicant.SocialLink)</a>
                            </div>
            }


            @if (Model.Applicant.Education == null)
            {
                            <h5>Education</h5>
                            <div>
                                <p>Add your Education here!</p>
                            </div>
            }
            else
            {
                            <h5>Education</h5>
                            <div>
                    @Html.DisplayFor(model=> Model.Applicant.Education)
                            </div>
            }

            @if (Model.Applicant.Phone == null)
            {
                                    <h5>Phone</h5>
                                <div>
                                            <p>Add your Phone here!</p>
                                </div>
            }
            else
            {
                                    <h5>Phone</h5>
                                <div>
                    @Html.DisplayFor(model=> Model.Applicant.Phone)
                                </div>
            }

            @if (Model.Applicant.Languages == null)
            {
                                            <h5>Languages</h5>
                                    <div>
                                                    <p>Add your Languages here!</p>
                                    </div>
            }
            else
            {
                                            <h5>Languages</h5>
                                    <div>
                    @Html.DisplayFor(model=> Model.Applicant.Languages)
                                    </div>
            }

            @if (Model.Applicant.Experience == null)
            {
                            <h5>Experience</h5>
                            <div>
                                <p>Add your Experience here!</p>
                            </div>
            }
            else
            {
                            <h5>Experience</h5>
                            <div>
                    @Html.DisplayFor(model => Model.Applicant.Experience)
                            </div>
            }

            @if (Model.Applicant.HardSkills == null)
            {
                            <h5>Hard Skills </h5>
                            <div>
                                <p>Add your HardSkills here!</p>
                            </div>
            }
            else
            {
                            <h5>Hard Skills</h5>
                            <div>
                    @Html.DisplayFor(model => Model.Applicant.HardSkills)
                            </div>
            }

            @if (Model.Applicant.Certifications == null)
            {
                                <h5>Certifications</h5>
                                <div>
                                    <p>Add your Certifications here!</p>
                                </div>
            }
            else
            {
                                <h5>Certifications</h5>
                                <div>
                    @Html.DisplayFor(modelItem => Model.Applicant.Certifications)
                                </div>
            }

            @if (Model.Applicant.ResumeLink == null)
            {
                            <h5>Resume Link:</h5>
                            <div>
                                <p>Add your Resume here!</p>
                            </div>
            }
            else
            {
                            <h5>Resume Link:</h5>
                            <div>
                                    <a href="images/@Html.DisplayFor(modelItem => Model.Applicant.ResumeLink)"
                       target="_blank"
                       title="resume"
                       class="special">Resume</a>

                            </div>
            }
        </div>
    </div>
</div>